

#3dtext {
text-shadow:1px 0px 0 rgb(170,170,170),2px 0px 0 rgb(85,85,85),3px 0px 1px rgba(0,0,0,1);
-webkit-text-shadow:1px 0px 0 rgb(170,170,170),2px 0px 0 rgb(85,85,85),3px 0px 1px rgba(0,0,0,1);
-moz-text-shadow:1px 0px 0 rgb(170,170,170),2px 0px 0 rgb(85,85,85),3px 0px 1px rgba(0,0,0,1);
color:#ffffff;
font-size:100px;
font-family:"Courier New", Courier, monospace;
}